<div class="container">
  <div class="row justify-content-center position-relative">
    <div class="cart">
      <div class="sticerWrapper">
        <div class="sticer">
          <span>25</span>
        </div>
      </div>
      <div class="cartInner">
        <div class="cartContent">
          <div class="cartInfo">
            <h4 class="cartHeader">Обучение по продажам</h4>
            <p class="message">Вы сделали 13 продаж и заработали:</p>
            <p class="salary">$ 2 000</p>
          </div>
          <div class="cartStatistic">
            <p>Месячный план выполнен на</p>
            <div class="progressBar">
              <div class="progressWrapper">
                <div class="scale" [ngStyle]="{'width.px': (2.28 * progressValue)}">
                </div>
                <span class="value">{{progressValue}}%</span>
              </div>
            </div>
            <div class="action">
              <button (click)="runProgress()">Продолжить</button>
              <p class="timeLeft">Осталось 8 дней</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shadow">
    </div>
  </div>
</div>